html{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(248, 244, 228);
}

/*Navigacijos žymeklis*/
header  {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: antiquewhite;
    border: black solid 1px;
}
h1  {
    font-size: 3rem;
    margin: 1%;
    letter-spacing: 4rem;
}
ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 2.3rem;
    margin: 1%;
    column-gap: 10px;
}
nav li {
    border: 1px darkgray solid;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 4px;
}
nav li:hover {
    background-color: darkgrey;
}
nav li:active{
    box-shadow: 0px 0px;
    margin: 2px;
}
/* Banneris*/
.banner {
    background-image: url(../image/banner-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 90%;
    border: black 2px solid;
    margin: 23px auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    gap: 40px;
}  
.banner .prisistatymas{
    background-color: antiquewhite;
    border-radius: 5px;
    grid-row: 2;
    grid-column: 1 / span 2;
    opacity: 0.9;
    text-align: center;
}
.banner .prisistatymas h2{
    text-decoration: underline;
    font-size: 2rem;
}
.banner p {
    font-size: 1.5rem;
}
/* Galerija*/

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    color: antiquewhite;
    margin: auto;
    font-size: 1.1rem;
    gap: 50px;
    justify-content: space-around;
    border: antiquewhite 1px solid;
}
footer a {
    color: antiquewhite;
}
.gallery {
    margin: auto;
    text-align: center ;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    height: auto;
    gap: 15px;
    justify-items: center;
    padding-top: 10px;
    background-color: antiquewhite;
    margin: auto;
}
.gallery h2 {
    margin: auto;
    font-size: 2rem;
}
.container img {
    width: 90%;
    border-radius: 5px;
    height: 90%;
}
footer img {
    height: 200px;
    width: 250px;
    margin-left: 20px;
}
footer p {
    margin-top: 100px;
}
address {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}